.App {
  text-align: center;
}

.Load {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  font-size: 50px;
}
.headerMain {
  display: flex;
  width: 100%;
  height: auto;
  border-bottom: 2px solid black;
  margin-top: 5px;
  border-top: 1px solid gray;
  padding: 5px;
  margin-bottom: 30px;
}

.imageIcon {
  display: flex;
  align-items: center;
  margin-left: 4%;
}

.imageIcon img{
  width: 50px;
  margin-right: 5%;
  cursor: pointer;
}

.iconName {
  font-family: 'Brush Script MT', cursive;
  font-weight: 500;
  font-size: 40px;
  cursor: pointer;
}

.cam {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 5%;
}

.cam img {
  width: 60px;
  cursor: pointer;
}

.WholePost {
  text-align: left;
  justify-content: center;
  width: 550px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
  border: 1px solid rgb(186, 185, 185);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.postTop {
  display: flex;
  height: auto;
  padding: 5px 5px 0px 10px;
  border-bottom: 1px solid rgb(218, 217, 217);

}

.Name {
  font-weight: 700;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 2.5px;
}

.NameLoc {
  width: 300px;
}

.Loc {
  font-size: 14px;
  color: gray;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 5px;
}

.dots {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 10px;
}

.dots img {
  width: 50px;
  cursor: pointer;
}

.postMid img {
  width: 100%;
  max-height: 290px;
}


.likeSendDate {
  display: flex;
  margin-top: 5px;
  padding: 2px;
}

.likeSend {
  display: flex;
}

.likeSend img {
  width: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.Date {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 15px;
  color: rgb(95, 95, 95);
}

.likesNum {
  display: flex;
  color: grey;
  margin-left: 10px;
  font-size: 15px;
}

.likesNum div {
  margin-left: 5px;
}

.disc {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: 500;
}


/* CSS */
.noposts {
  font-size: 30px;
  color: rgb(4, 4, 83);
  margin-bottom: 50px;
}
